@charset "utf-8";

/* リセット */
body {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline;
  margin: 0;
  font-weight: normal;
  font-size: inherit;
  line-height: 1;

  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

/* カスタムレイアウト */
.header {
  height: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__title {
  padding-left: 16px;
  font-size: 2rem;
}

.g-nav {
  padding-right: 16px;
}

.g-nav__list {
  display: flex;

  gap: 20px;
}

/* ハンバガーメニュー */
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 1.5rem;
  }

  .g-nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    padding-right: 0;
    background-color: rgb(0 0 0 / .2);
    transition: left .3s ease;
  }

  .g-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    gap: 20px;
  }

  #drawerMenu.open .g-nav {
    left: 0;
  }

  .hamburger-menu {
    position: absolute;
    top: 29.5px;
    right: 16px;
    z-index: 10;
    width: 24px;
  }

  .hamburger-menu__line, .hamburger-menu__line::before, .hamburger-menu__line::after {
    position: absolute;
    right: 0;
    width: 24px;
    background-color: #333333;
    transition: all .3s ease;
  }

  .hamburger-menu__line::before, .hamburger-menu__line::after {
    height: 2px;
    content: "";
  }

  .hamburger-menu__line {
    transform: scaleY(.5);
    height: 2px;
  }

  .hamburger-menu__line::before {
    top: -8px;
  }

  .hamburger-menu__line::after {
    top: 8px;
  }

  #drawerMenu.open .g-nav {
    display: block;
  }

  #drawerMenu.open .hamburger-menu__line {
    background-color: transparent;
  }

  #drawerMenu.open .hamburger-menu__line::before {
    top: 0;
    transform: rotate(315deg);
  }
  #drawerMenu.open .hamburger-menu__line::after {
    top: 0;
    transform: rotate(-315deg);
  }
}